.about-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-img {
  height: 30vh;
}

.title {
  color: #555555;
  font-size: 40px;
}

.description {
  font-size: 22px;
}
