.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.heading {
  font-family: 'Lobster';
}

.language-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  list-style-type: none;
  width: 30%;
}

.repository-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 0px;
  list-style-type: none;
  width: 80%;
  flex-wrap: wrap;
}

.error-view-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error-view-image {
  width: 527px;
  height: 393px;
}
