.body-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 45vh;
  margin-top: 8px;
  margin-bottom: 8px;
}

.navbar {
  padding: 20px;
  background-color: #e2e8f0;
  min-width: 25%;
  max-width: 25%;

  align-self: stretch;
  flex-grow: 0;
}

.ad-container {
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-bottom: 10px;
}

.navbar-heading {
  font-size: 20px;
}

.navbar-list-items {
  list-style-type: none;
  padding-left: 0px;
}

.nav-item {
  padding: 10px;
}

.content-container {
  align-self: stretch;
  background-color: #cbd5e1;
  flex-grow: 1;
  padding: 10px;
}
