.day-img {
  color: #ffffff;
  font-size: 26px;
  margin-left: 60px;
}
/* 
.popup-content {
   display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: rgba(221, 173, 117, 0.3); 
} */
