.money-details-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.money-details-card {
  padding: 30px;
  border: 1px solid #84cc16;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 30%;
}

.note-img {
  height: 80px;
  margin-right: 20px;
}

.money-title {
  margin-top: 0px;
  margin-bottom: 0px;
}

.money-text {
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: normal;
  font-size: 30px;
}

.balance-card {
  background-color: #ecfccb;
}

.income-card {
  background-color: #cffafe;
}

.expenses-card {
  background-color: #ede9fe;
}
