.blog-item-details {
  padding: 30px;
}

.author-details {
  display: flex;
  align-items: center;
}

.blog-img {
  height: 350px;
  width: 100%;
  border-radius: 10px;
}

.title-heading {
  text-align: center;
}
