.header-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: radial-gradient(#2b237c, #180d5b);
  padding: 20px;
}

.main-heading {
  color: #ffffff;
  font-family: 'Playfair Display';
}

.header-image {
  height: 300px;
}

.body-section {
  padding: 20px;
}
